body {
    font-family: arial;
    color: #777;
    background: #777;
    font-size: 18px;
    width: 960px;
}

h1 {
    text-align: center;
    background-color:#ebebeb;
    margin: auto;
    line-height: 100px;  
    color: #777;  
    width: 135%;
    position: relative;
    right: -110px;
}
